pandas == 1.4.4
geopandas == 0.13.2
pyhere == 1.0.0
scipy == 1.10.1
numpy == 1.21.5
MDP == 3.5
pygris == 0.1.5
libpysal == 4.7.0
lxml == 4.9.3
tabulate == 0.9.0
matplotlib == 3.7.1
mapclassify == 2.5.0
